<div class="container_email" style="font-family: 'Poppins', sans-serif;
        width: 60vh;
        margin: auto;">
    <img src="https://viewinmobiliario2.s3-sa-east-1.amazonaws.com/presente/Auth/creacion-cuenta.png" class="header_img" alt="" style="width: 90%;"><br>
    <img src="https://viewinmobiliario2.s3-sa-east-1.amazonaws.com/static_assets/emails/assessor_notify/banner-no-registrado.png" class="stars" alt="" style="width: 60%;
        height: auto; display: block; margin: auto;">
    <h2 style="text-align: center;">Hola equipo de <span style="color: #d93d41;"><%= @name_project%></span></h2>
    <p class="body_email" style="text-align: justify;"> <b><span style="color: #d93d41;"><%= @lead.name%></span></b> es un usuario de vecindario que inicio su proceso de busqueda y esta interezado en tu proyecto
        a continuacion, te compartimos sus datos ya que puede estar visitando la sala de ventas en los proximos dias.
    </p>
    <div>
        <p><b>Nombre cliente:</b> <%= @lead.name%> <%= @lead.last_name%></p>
        <p><b>Celular:</b>+57 <%= @lead.phone%></p>
        <p><b>Correo electronico:</b> <%= @lead.email%></p>
    </div>
</div>
